<div class="banner">
  <div class="overlay d-flex flex-column justify-content-center align-items-center">
    <h1><span id="welcome">Welcome to</span><br><span id="cookbud">Cookbud</span></h1>
    <h2 id="banner-subtit">Find your favorite recipes</h2>
    <%= link_to 'Get started', search_path, class: 'searchbutton' %>
  </div>
</div>



<div class="container mt-3">
<h3 class="recommend">Recommended recipes:</h3>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="space col-md-12 mb-4">
        <div class="card recipe-card">
          <%= link_to recipe_path(recipe) do %>
            <div class="image-container" style="background-image: url(<%= url_for(recipe.photo) %>)"><div id="card-grad"></div></div>
            <div class="card-body">
              <h3 class="card-title"><%= recipe.name %></h3>
              <p class="card-description"><%= recipe.description[0,70] %>...</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <p><%= recipe.difficulty.capitalize %></p>
              <p><%= recipe.duration %> min</p>
            </div>
          <% end %>
          <div data-controller="bookmark" class="bookmarkcss">
            <% if user_signed_in? %>
            <%# If the recipe is already bookmarked %>
              <% if current_user.bookmarks.find_by(recipe_id: recipe.id) %>
                <% bookmark = current_user.bookmarks.find_by(recipe_id: recipe.id).id %>
                <i data-action="click->bookmark#delete" data-bookmark-id="<%= bookmark %>" class="fa-solid fa-star" style="color: #669158;"></i>
            <%# If the recipe isn't bookmarked yet %>
              <% else %>
                <i data-action="click->bookmark#add" data-recipe-id="<%= recipe.id %>" data-user-id="<%= current_user.id %>" class="fa-regular fa-star" style="color: #669158;"></i>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <i class="fa-regular fa-star" style="color: #669158;"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
