<div class="banner">
  <div class="overlay d-flex flex-column justify-content-center align-items-center">
    <h1>Cookbud 🚀</h1>
    <%= link_to 'Search Recipes', search_path, class: 'btn btn-primary' %>
  </div>
</div>



<p><%= @recipe_name %></p>
<p><%= @difficulty %></p>
<p><%= @duration %></p>
<p><%= @ingredients %></p>
<p><%= @description %></p>


<div class="container mt-3">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-12 mb-4">
        <div class="card recipe-card">
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag("burger.jpg", class: "card-img-top", alt: "#{recipe.name} Image") %>
           <div class="card-body">
              <h3 class="card-title"><%= recipe.name %></h3>
              <p class="card-subtitle mb-2 text-muted"><%= recipe.description.truncate(70) %></p>
              <div class="card-footer d-flex justify-content-between">
                <small class="text-muted"><%= recipe.difficulty.capitalize %></small>
                <small class="text-muted">⏲️ <%= recipe.duration %></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
