<div class="banner">
  <div class="overlay d-flex flex-column justify-content-center align-items-center">
    <h1>Cookbud 🚀</h1>
    <%= link_to 'Search Recipes', search_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-12 mb-4">
        <div class="card recipe-card">
          <%= link_to recipe_path(recipe) do %>
            <div class="image-container">
              <%= image_tag(recipe.photo, class: "card-img-top", alt: "#{recipe.name} Image") %>
            </div>
            <div class="card-body p-3 pt-1">
              <h3 class="card-title"><%= recipe.name %></h3>
              <p class="card-subtitle"><%= recipe.description[0,30] %>...</p>
              <div class="card-footer d-flex justify-content-between">
                <small class="style1"><%= recipe.difficulty.capitalize %></small>
                <small class="style2">⏲️ <%= recipe.duration %></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
