<div class="banner">
  <div class="overlay d-flex flex-column justify-content-center align-items-center">
    <h1>Cookbud 🚀</h1>
    <%= link_to 'Search Recipes', search_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="container">
<% @recipes.each do |recipe| %>
  <div class="row space m-3 p-3">
  <%= link_to recipe_path(recipe) do %>
    <div class="card recipe-card">
      <%= image_tag("burger.jpg", class: "card-img-top", alt: "Burger Image") %>
      <div class="card-body">
        <h3 class="card-title"><%= recipe.name %></h3>
        <p class="card-text"><%= recipe.description[0, 30] %>...</p>
      </div>
      <div class="d-flex justify-content-between p-3">
        <p class="list-group-item">Level: <%= recipe.difficulty %></p>
        <p class="list-group-item">⏲️ <%= recipe.duration %></p>
      </div>
      <div class="card-body">
        <%# <%= link_to 'View Recipe', recipe_path, class: 'card-link' %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
