<div class="banner">
  <div class="overlay d-flex flex-column justify-content-center align-items-center">
    <h1>Cookbud 🚀</h1>
    <%= link_to 'Search Recipes', search_path, class: 'btn btn-primary' %>
  </div>
</div>


<h3>Name</h3>
<p><%= @recipe_name %></p>
<h3>Difficulty</h3>
<p><%= @difficulty %></p>
<h3>Duration</h3>
<p><%= @duration %></p>
<h3>Description</h3>
<p><%= @description %></p>
</div>

<div class="container mt-5">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag("burger.jpg", class: "card-img-top", alt: "#{recipe.name} Image") %>
            <div class="card-body d-flex flex-column">
              <h3 class="card-title"><%= recipe.name %></h3>
              <p class="card-text"><%= recipe.description.truncate(70) %></p>
              <div class="mt-auto">
                <%= link_to 'View Recipe', recipe_path(recipe), class: 'btn btn-primary' %>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Level: <%= recipe.difficulty %></small>
              <small class="text-muted float-right">⏲️ <%= recipe.duration %></small>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
