<div class="container mt-4">
  <div class="row">
    <%= link_to 'javascript:void(0)', onclick: 'window.history.back(); return false;' do %>
      <i class="back fa-solid fa-backward" style="color: #699158;"></i>
    <% end %>
    <div class="col-lg-8 offset-lg-2">
      <%= image_tag(@recipe.photo, alt: 'Recipe Photo', class: 'img-fluid rounded-2') %>
      <div class="recipe-head d-flex justify-content-between align-items-end mt-2 mb-2">
      <h1><%= title @recipe.name %></h1>
      <div>★ (<%= @recipe.average_rating || "0.0" %>)</div>
      </div>
      <div class="dif-du d-flex justify-content-between">
        <span><%= @recipe.difficulty.to_s.capitalize %></span>
        <span><%= @recipe.duration %> min</span>
      </div>

      <p class="mt-5 mb-5">
        <%= @recipe.description %>
      </p>

      <div class="mb-2">
        <button class="custom-btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#recipeSteps" aria-expanded="false" aria-controls="recipeSteps">
          Steps
        </button>
        <div class="collapse" id="recipeSteps">
          <div class="card card-body">
            <ol>
              <% JSON.parse(@recipe.instructions).each do |instruction| %>
                <li><%= instruction %></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="mb-2">
          <button class="custom-btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#leaveReview" aria-expanded="false" aria-controls="leaveReview">
            Reviews
          </button>
          <div class="collapse" id="leaveReview">
            <div class="card card-body">
              <% review = Review.new %>
              <% review.user = current_user %>
              <% review.recipe = @recipe %>
              <%= render partial: "reviews/new_review_form", locals: { review: review } %>

              <div class="review-section">
                <h2 class="review-section-title">Reviews</h2>
                <hr>
                <% @reviews.each do |review|%>
                  <div class="review-user">
                    <h3><%= review.user.username %></h3>
                    <p class="review-stars"><%= '★' * review.rating %></p>
                    <p class="review-comment"><%= review.comment %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div>
        <%= link_to recipe_cooking_path(@recipe) do %>
          <button type="button" class="custom-btn1 mt-2 mb-3">Start Cooking</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
