<div data-controller="preference-edit" data-preference-id="<%= current_user.preference.id %>" data-user-id="<%= current_user.id %>">
  <%# Appliances input %>
  <div class="my-3">
    <button data-action="click->preference-edit#toggleList" class="custom-btn-active dropdown-toggle" type="button">
      My appliances
    </button>
    <div class="input-list" data-category="appliances">
      <div class="m-3 d-flex justify-content-start align-items-center">
        <input class="form-control string required form-control mb-0 flex-grow-1" type="text">
        <button class="border-0 bg-white mx-3" data-action="click->preference-edit#addToList"><i class="fa-solid fa-plus"></i></button>
      </div>
      <ul class="m-3 list-group">
        <% current_user.preference.appliances.each do |appliance| %>
          <li class="preference-list-item-box">
            <p id='appliances' class="my-1 flex-grow-1"> <%= appliance.capitalize %> </p>
            <div data-action="click->preference-edit#delete" class="mx-3" style="color: $c_primary;"><i class="fa-solid fa-xmark"></i></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# Ingredients input %>
  <div class="my-3">
    <button data-action="click->preference-edit#toggleList" class="custom-btn-active dropdown-toggle" type="button">
      My ingredients
    </button>
    <div class="input-list" data-category="ingredients">
      <div class="m-3 d-flex justify-content-start align-items-center">
        <input class="form-control string required form-control mb-0 flex-grow-1" type="text">
        <button class="border-0 bg-white mx-3" data-action="click->preference-edit#addToList"><i class="fa-solid fa-plus"></i></button>
      </div>
      <ul class="m-3 list-group">
        <% current_user.preference.ingredients.each do |ingredient| %>
          <li class="preference-list-item-box">
            <p id='ingredients' class="my-1 flex-grow-1"> <%= ingredient.capitalize %> </p>
            <div data-action="click->preference-edit#delete" class="mx-3" style="color: $c_primary;"><i class="fa-solid fa-xmark"></i></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%# Diet input %>
  <div class="my-3">
    <button data-action="click->preference-edit#toggleList" class="custom-btn-active dropdown-toggle" type="button">
      My diet
    </button>
    <div class="input-list" data-category="diet">
      <div class="m-3 d-flex justify-content-start align-items-center">
        <input class="form-control string required form-control mb-0 flex-grow-1" type="text">
        <button class="border-0 bg-white mx-3" data-action="click->preference-edit#addToList"><i class="fa-solid fa-plus"></i></button>
      </div>
      <ul class="m-3 list-group">
        <% current_user.preference.diet.each do |diet_item| %>
          <li class="preference-list-item-box">
            <p id='diet' class="my-1 flex-grow-1"> <%= diet_item.capitalize %> </p>
            <div data-action="click->preference-edit#delete" class="mx-3" style="color: $c_primary;"><i class="fa-solid fa-xmark"></i></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# Allergies input %>
  <div class="my-3">
    <button data-action="click->preference-edit#toggleList" class="custom-btn-active dropdown-toggle" type="button">
      My allergies
    </button>
    <div class="input-list" data-category="allergies">
      <div class="m-3 d-flex justify-content-start align-items-center">
        <input class="form-control string required form-control mb-0 flex-grow-1" type="text">
        <button class="border-0 bg-white mx-3" data-action="click->preference-edit#addToList"><i class="fa-solid fa-plus"></i></button>
      </div>
      <ul class="m-3 list-group">
        <% current_user.preference.allergies.each do |allergy| %>
          <li class="preference-list-item-box">
            <p id='allergies' class="my-1 flex-grow-1"> <%= allergy.capitalize %> </p>
            <div data-action="click->preference-edit#delete" class="mx-3" style="color: $c_primary;"><i class="fa-solid fa-xmark"></i></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# Level input %>
  <div class="my-3">
    <div class="preference-label">
      <label for="search_level">My cooking level</label>
    </div>
    <select id='level' class="form-control string required form-control" name="search[level]" id="search[level]">
      <% if current_user.preference.level == 'beginner' %>
        <option value="beginner" selected='selected'>Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      <% elsif current_user.preference.level == 'intermediate' %>
        <option value="beginner">Beginner</option>
        <option value="intermediate" selected='selected'>Intermediate</option>
        <option value="Advanced">Advanced</option>
      <% elsif current_user.preference.level == 'advanced' %>
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="Advanced" selected='selected'>Advanced</option>
      <% else %>
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      <% end %>
    </select>
  </div>
  <%# Submit search %>
  <button class="custom-btn2" data-action="click->preference-edit#edit">Save changes</button>
</div>
