<div class="container mt-5">
  <% if user_signed_in? %>
    <% user = current_user %>
    <%= simple_form_for :search, url: search_results_path, method: :get, html: { class: 'form-group' } do |f| %>
      <%= f.input :appliances, input_html: { value: user.preference.appliances, class: 'form-control' } %>
      <%= f.input :ingredients, input_html: { value: user.preference.ingredients, class: 'form-control' } %>
      <%= f.input :diet, input_html: { value: user.preference.diet, class: 'form-control' } %>
      <%= f.input :allergies, input_html: { value: user.preference.allergies, class: 'form-control' } %>
      <%= f.input :level, input_html: { value: user.preference.level, class: 'form-control' } %>
      <%= f.input :duration, input_html: { class: 'form-control' } %>
      <%= f.button :submit, 'Search', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= simple_form_for :search, url: search_results_path, method: :get, html: { class: 'form-group' } do |f| %>
      <%= f.input :appliances, as: :string, input_html: { class: 'form-control' } %>
      <%= f.input :ingredients, as: :string, input_html: { class: 'form-control' } %>
      <%= f.input :diet, as: :string, input_html: { class: 'form-control' } %>
      <%= f.input :allergies, as: :string, input_html: { class: 'form-control' } %>
      <%= f.input :level, as: :string, input_html: { class: 'form-control' } %>
      <%= f.input :duration, as: :string, input_html: { class: 'form-control' } %>
      <%= f.button :submit, 'Search', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
