<div class="profile-container">
  <%= link_to 'Back', :back, class: 'back-button' %>

  <div class="container mt-4 d-flex flex-column align-items-center">
  <h1 class="fa-solid fa-user fa-3x profile-avatar"></h1>
  </div>

  <div class="user-info">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p class="username"> Username: <%= @user.username %></p>
    <p class="email"> Email: <%= @user.email %></p>
  </div>

  <div class="preferences">
    <div class="preferences-header">
      <h2>Preferences</h2>
      <%= link_to '#', class: 'edit-icon' do %>
      <% end %>
    </div>
    <div class="preferences-body">
      <p>Appliances:</p>
      <% @user.preference.appliances.each do |appliance| %>
        <span class="tag"><%= appliance %></span>
      <% end %>

      <p>Ingredients:</p>
      <% @user.preference.ingredients.each do |ingredient| %>
        <span class="tag"><%= ingredient %></span>
      <% end %>
    </div>
    <div class="button-container">
    <%= link_to preference_edit_path do %>
  <button class="custom-btn2">Edit Preferences</button>
<% end %>
</div>
  </div>

<div class="container">
  <h3>My Favorites</h3>
  <div class="favorites-list">
    <% current_user.bookmarks.each do |bookmark| %>
    <% end %>
  </div>
</div>
<script>
  function toggleEdit(section) {
    var displaySection = document.getElementById(section + 'Display');
    var editSection = document.getElementById(section + 'Edit');
    if (displaySection.style.display === 'none') {
      displaySection.style.display = 'block';
      editSection.style.display = 'none';
    } else {
      displaySection.style.display = 'none';
      editSection.style.display = 'block';
    }
  }
</script>
