<div class="profile-container">
  <%= link_to 'Back', :back, class: 'back-button' %>

  <div class="profile-image">
    <%= link_to edit_user_registration_path, class: 'edit-icon' do %>
    <% end %>
  </div>

  <div class="user-info">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p class="username"> Username: <%= @user.username %></p>
    <p class="email"> Email: <%= @user.email %></p>
    <%# <p class= "level"> <%= @user.level%>
  </div>

  <div class="preferences">
    <div class="preferences-header">
      <h2>Preferences</h2>
      <%= link_to '#', class: 'edit-icon' do %>
      <% end %>
    </div>
    <div class="preferences-body">
      <p>Appliances:</p>
      <% @user.preference.appliances.each do |appliance| %>
        <span class="tag"><%= appliance %></span>
      <% end %>

      <p>Ingredients:</p>
      <% @user.preference.ingredients.each do |ingredient| %>
        <span class="tag"><%= ingredient %></span>
      <% end %>
    </div>
    <%= link_to 'Edit Preferences', edit_user_registration_path, class: 'btn-edit-preferences' %>
  </div>

<div class="container">
  <h3>My Favorites</h3>
  <div class="favorites-list">
    <% current_user.bookmarks.each do |bookmark| %>
      <div class="favorite-item">
        <div class="thumbnail">
          <img src="<%= bookmark.recipe.thumbnail_url %>" alt="<%= bookmark.recipe.name %>" class="img-fluid">
        </div>
        <div class="details">
          <h4><%= bookmark.recipe.name %></h4>
          <p><%= bookmark.recipe.description %></p>
          <p><strong>Difficulty:</strong> <%= bookmark.recipe.difficulty %></p>
          <p><strong>Duration:</strong> <%= bookmark.recipe.duration %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>



<script>
  function toggleEdit(section) {
    var displaySection = document.getElementById(section + 'Display');
    var editSection = document.getElementById(section + 'Edit');
    if (displaySection.style.display === 'none') {
      displaySection.style.display = 'block';
      editSection.style.display = 'none';
    } else {
      displaySection.style.display = 'none';
      editSection.style.display = 'block';
    }
  }
</script>
