<h1>Search results</h1>
<div class="container mt-3">
  <div data-controller="search-results" class="row">
    <% @filtered_recipes.each do |recipe| %>
      <div class="col-md-12 mb-4 search-results">
          <div class="card recipe-card">
            <%= link_to recipe_path(recipe) do %>
              <%= image_tag(recipe.photo, alt: 'Recipe Photo', class: 'img-fluid') %>
              <div class="card-body">
                <h3 class="card-title"><%= recipe.name %></h3>
                <p class="card-subtitle mb-2 text-muted"><%= recipe.description.truncate(70) %></p>
                <div class="card-footer d-flex justify-content-between">
                  <small class="text-muted"><%= recipe.difficulty.capitalize %></small>
                  <small class="text-muted">⏲️ <%= recipe.duration %></small>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
    <div class="d-flex justify-content-center align-items-center">
      <button data-action="click->search-results#load" class="btn btn-outline-secondary">Load more</button>
    </div>


  </div>
</div>
