<%= simple_form_for [review.recipe, review] do |f| %>
<div class="rating-container">
  <%= f.input :rating, collection: (1..5).to_a, input_html: {data: {controller: "star-rating"}, class: "rating"}, label: false %>
  </div>
  <%= f.label "Leave a comment" %>
  <%= f.input :comment, label: false %>
  <%= f.submit "Submit Review", class: "submit-review" %>
<% end %>
